<li>
	{{kimchi_name}}

	<button class="change-gobbled" data-id="{{id}}" data-newgobbled="{{gobbled}}">
		{{#if gobbled}}GOBBLE!{{else}}REGURGITATE!{{/if}}
	</button>

	<button class="delete-kimchi" data-id="{{this.id}}">DELETE!</button>
</li>
